.experiencia-bg {
  background: var(--bg-grad-xp);
  z-index: -2;
}

.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: var(--color-display-xp);
  font-size: 220px;
  font-family: var(--font-display);
  transform: rotate(270deg);
  letter-spacing: 40px;
  position: relative;
  left: 200px;
}

.experiencia-texto {
  font-size: 1.625rem;
  line-height: 1.33;
  max-width: 60ch;
  margin-bottom: 60px;
  color: #525252;
  position: relative;
}

.experiencia-texto strong {
  font-weight: bolder;
  color: #141414;
}

.experiencia-texto ::before {
  content: "";
  background: url("../assets/desktop/decorador_clouds-xp.png");
  width: 274px;
  height: 541px;
  position: absolute;
  top: 100px;
  left: -400px;
  z-index: 1;
}

.empresas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background-color: var(--bg-companies-xp);
  border: var(--color-font) solid 1px;
  margin-bottom: 20px;
  position: relative;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  width: 80px;
  text-align: right;
  color: #525252;
  font-size: 0.875rem;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
  text-transform: uppercase;
}

.empresa-titulo::before {
  content: "";
  display: block;
  width: 200px;
  height: 4px;
  top: 42px;
  background: linear-gradient(90deg, #6ed7fa 0%, #ffffff00 100%);
  position: absolute;
}

.empresa-cargo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background-color: var(--bg-abilities-xp);
  color: var(--color-font);
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experiencia .subtitulo {
    font-size: 3rem;
    transform: rotate(0deg);
    letter-spacing: 10px;
    left: 20px;
  }

  .empresa-titulo::before {
    display: none;
  }

  .experiencia-texto {
    font-size: 1.25rem;
  }

  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
    color: #a5a5a5;
  }

  .empresa-titulo::before {
    display: none;
  }
}
