:root {
  /*fonts*/
  --font-display: "Magical Horison", serif;
  --font-main: "Source Sans 3", sans-serif;
  /*colors*/
  --color-font: #707070;
  --bg-color-header-main: #9fc6f9;
  --bg-color-main: #dae9fe;
  --bg-grad-xp: linear-gradient(#eefbff, #ccf2ff);
  --color-display-xp: #6ed7fa;
  --bg-companies-xp: #ccf2ff;
  --bg-abilities-xp: #aaeaff;
  --bg-color-edu: #d6dbff;
  --color-display-edu: #6e7efa;
  --bg-item-edu: #a1acff;
  --bg-color-hobbies: #e0beff;
  --color-display-hobbies: #b96efa;
  --color-display-port: #4418af;
}

body {
  margin: 0;
  font-family: var(--font-main);
  color: #707070;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
