.hobbies-bg {
  background-color: var(--bg-color-hobbies);
}
.hobbies {
  max-width: 1200px;
  padding: 80px 20px;
  margin: 0 auto;
}

.hobbies-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.hobbies .subtitulo {
  font-family: var(--font-display);
  font-size: 60px;
  margin-bottom: 60px;
  color: var(--color-display-hobbies);
}

.hobbies-title {
  color: var(--color-display-hobbies);
  font-family: var(--font-display);
  font-size: 28px;
  margin: 0 0 32px 110px;
  position: relative;
}

.hobbies-text {
  margin: 0 0 0 110px;
}

.hobbies-title::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0px;
  left: -120px;
}

.travel::before {
  background: url("../assets/desktop/map_7743302.png");
}

.kittens::before {
  background: url("../assets/desktop/cat_8677484.png");
}

.books::before {
  background: url("../assets/desktop/spellbook_848924\(1\).png");
}

.music::before {
  background: url("../assets/desktop/guitar_9449434.png");
}

.food::before {
  height: 124px;
  background: url("../assets/desktop/burger_15166412.png");
}

@media (max-width: 850px) {
  .hobbies-container {
    grid-template-columns: 1fr 1fr;
  }

  .hobbies .subtitulo {
    font-family: var(--font-display);
    font-size: 44px;
    margin-bottom: 30px;
    color: var(--color-display-hobbies);
  }
}
@media (max-width: 550px) {
  .hobbies {
    padding: 40px 20px;
  }

  .hobbies-container {
    grid-template-columns: 1fr;
  }

  .hobbies .subtitulo {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .hobbies-title {
    margin: 0 0 10px 20px;
  }

  .hobbies-text {
    margin: 0 0 0 20px;
  }

  .travel::before,
  .kittens::before,
  .books::before,
  .music::before,
  .food::before {
    display: none;
  }
}
